#formatting guidlines for this config file: 
#  All sections, keys, or values with multiple words will utilize snake case. The only exceptions are the spider class names.
#  Only language names will be capitalized in the keys. Values may be capitalized depending on what the URI components need 

#This config begins with the 'sites' section. Each key in this section will have a value the same as the key, but with '_site' appended
# for each key's value, there should be a section by that same name
[sites]
wikipedia : wikipedia_site
#fake : fake_site

#each web_site should have the keys root and language pages. The key, root, has the base url for the site.
# the key, site_language_pages will be the name of a related section. 
[wikipedia_site]
root : https://en.wikipedia.org/wiki/
site_language_pages : wikipedia_language_pages

#the web_pages sections will have a key for every language that the site can be scraped for. The key will be the language's name. 
# The value for each key will be the URI component to be appended to the site's root to be able to reach that page
[wikipedia_language_pages]
Sakha : Yakut_language
Jèrriais : J%%C3%%A8rriais
Quechua : Quechuan_languages
Nyungar : Nyungar_language
Xhosa : Xhosa_language
Sioux : Sioux_language

#These are the language codes. Yay! Every language that scraped should be noted here in this section. The pages section of each site will
# leverage this section.
[language_codes]
English : eng
Sakha : sah
Jèrriais : nrf
Quechua : qwe
Nyungar : nys
Xhosa : xho
Sioux : dak

#the spiders section will have a key for every spider, the key should be the name of the site, and the value should be the same
# buth with '_spider' appended. This follows the naming scheme of the spider's python file.
[spiders]
wikipedia : WikipediaSpider
fake : fake_spider

