#formatting guidlines for this config file:
#  All sections, keys, or values with multiple words will utilize snake case. The only exceptions are the spider class names.
#  Only language names will be capitalized in the keys. Values may be capitalized depending on what the URI components need

#This config begins with the 'sites' section. Each key in this section will have a value the same as the key, but with '_site' appended
# for each key's value, there should be a section by that same name
[sites]
wikipedia : wikipedia_site

#These are the language codes. Yay! Every language that scraped should be noted here in this section. The pages section of each site will
# leverage this section.
[language_codes]
# English : eng
Sakha : sah
# Jèrriais : nrf
# Quechua : qwe
# Nyungar : nys
# Xhosa : xho
# Sioux : dak

#the spiders section will have a key for every spider, the key should be the name of the site, and the value should be the same
# buth with '_spider' appended. This follows the naming scheme of the spider's python file.
[spiders]
wikipedia : WikipediaSpider

[local_config_file]
file_name : wikitongues-language-indexing.cfg

[airtable_languages_table]
# Uncomment below to override
table_name : Languages
id_column : Identifier
page_size : 100
# max_records : 10
# base_id : {your base id}
# api_key : {your api key}
# fake : true

[airtable_items_table]
table_name : External Resources
id_column : Url
page_size : 100
# max_records : 10
# base_id : {your base id}
# api_key : {your api key}
# fake : true

[DEFAULT]
# MODIFY
base_id : {your base id}
api_key : {your api key}
# DO NOT MODIFY
fake : False
max_records
