# This is a basic workflow to help you get started with Actions

name: Lint and test

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "flake8_py3"
  flake8_py3:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.7.11
          architecture: x64

      - name: Install flake8
        run: pip install flake8

      - name: Flake8 action
        # You may pin to the exact commit or the version.
        # uses: suo/flake8-github-action@3e87882219642e01aa8a6bbd03b4b0adb8542c2a
        uses: suo/flake8-github-action@v1
        with:
          # The name of the check to add annotations to.
          # Generally the same as the job that uses this action
          checkName: 'build'

      - name: Install dependencies
        run: |
          pip install .
          pip install -r requirements.txt

      - name: Run unit tests
        run: python -m unittest

